@import url('components/index.css');

/* branding */
:root {
  --primary-color: white;
  --font-color: black;
}
/* :dark-mode {
  --primary-color: black;
  --font-color: white; 
} */

/* default settings */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* fonts */
