/* style sheets and font imports */
@import url('sections/index.css');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

/* default settings */
:root {
  --font-header: 'Fugaz One', cursive;
  --font-paragraph: 'Heebo', sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F0FF;
}
body h1, body h2, body h3 {
  font-family: var(--font-header);
}
body p {
  font-family: var(--font-paragraph);
}
