/* style sheets and font imports */
@import url('components/index.css');

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

/* default settings */
:root {
  --font-header: 'Fugaz One', cursive;
  --font-paragraph: 'Heebo', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F0FF;
}

:media-queries {
  --ipad: 769px;
}