#about {
  height: 100vh;
}

.about-container {
  display: flex;
}

#about-image {
  flex: .75;
  display: inherit;
}

.about-content {
  flex: 1;
}
.about-content p {
  font-size: 2rem;
}

.about-section-pic {
  border-radius: 50%;
  width: 15rem;
  border: 8px solid rgba(145,70,255,1);
}