/* .contact-links {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
	padding-bottom: 5rem;
}
.contact-links i {
	font-size: 4rem;
  color: white;
}

.margin-right {
	margin-right: 5rem;
} */