#hero {
  background: rgba(145,70,255,1);
  color: white;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hero-content h1 {
  font-size: 4rem;
}

#hero-content h2 {
  font-size: 3rem;
  text-align: left;
}

#profile-pic {
  border-radius: 50%;
  border: 8px solid white;
  height: 25rem;
  width: auto;
  margin-left: 25%;
}