#hero {
  height: 100vh;
  background: linear-gradient(180deg, rgba(145,70,255,1) 50%, rgba(240,240,255,1) 100%);
  ;
}

#hero-content {
  padding-top: 5rem;
}

#work {
  background-color: #F0F0FF;
}

#contact {
  background: linear-gradient(0deg, rgba(145,70,255,1) 50%, rgba(240,240,255,1) 100%);
}